body {
    color: white;
    background-image: linear-gradient(-90deg, #2a9d8f, #2ec4b6);
}

.container {
    width: 600px;
    height: 400px;
    text-align: center;
}

h2 {
    font-family: 'Rajdhani', sans-serif;
}